extends ../layout

block content
  h1 Lista de Médicos

  table#tablaMedicos.display
    thead
      tr
        th ID
        th Nombre y Apellido
        th Correo
        th DNI
        th Teléfono
        th Estado
        th Acciones
    tbody
      each medico in medicos
        tr
          td= medico.id 
          td= medico.nombre + ' ' + medico.apellido
          td= medico.mail
          td= medico.dni
          td= medico.telefono
          td= medico.estado
          td
            a(href=`/medico/${medico.id}/editar`) Editar
            if medico.estado === 'activo'
              a(href=`/medico/${medico.id}/desactivar`, data-medico-id=medico.id, class="activar-btn") Desactivar
            else
              a(href=`/medico/${medico.id}/activar`, data-medico-id=medico.id, class="activar-btn") Activar

block scripts
  script(src='https://code.jquery.com/jquery-3.7.1.min.js')
  script(src='https://cdn.datatables.net/2.1.8/js/dataTables.min.js')
  script.
    $(document).ready(function () {
       $('#tablaMedicos').DataTable({
        dom: 'frtip', 
        order: [[5, 'asc']] ,
        paging: false,
        language: {
          info: "", 
          search: "Buscar medicos",
        }
      });
      
      const activarBtns = document.querySelectorAll('.activar-btn');

      activarBtns.forEach(btn => {
        btn.addEventListener('click', async (event) => {
          event.preventDefault();
          const medicoId = btn.dataset.medicoId;
          const url = btn.href; 

          try {
            const response = await fetch(url, { method: 'POST' }); 
            if (response.ok) {
              alert('Estado del médico actualizado');
              location.reload(); 
            } else {
              const errorData = await response.json();
              const errorMessage = errorData.message || 'Error al actualizar el estado del médico';
              console.error(errorMessage, response.status);
              alert(errorMessage);
            }
          } catch (error) {
            console.error('Error al actualizar el estado del médico:', error);
            alert('Error al actualizar el estado del médico');
          }
        });
      });
    });
  block styles
    style.
      #tablaMedicos_wrapper{ 
        border-collapse: collapse;
        width: 100%;
        max-width: 800px; /* Ajusta el ancho máximo de la tabla si es necesario */
        margin: 20px auto; /* Centra la tabla horizontalmente */
      }

      th, td {
        border: 1px solid #ddd; 
        padding: 10px;
        text-align: left;
      }

      th {
        background-color: #f2f2f2; 
        font-weight: bold;
      }

      tr:nth-child(even) {
        background-color: #f9f9f9; 
      }

      tr:hover {
        background-color: #e9e9e9; 
      }

      td a {
        display: inline-block;
        padding: 5px 10px;
        margin-right: 5px;
        background-color: #007bff; /* Color azul para los enlaces */
        color: white;
        text-decoration: none;
        border-radius: 4px;
      }

      td a:hover {
        background-color: #0056b3; 
      }
      #tablaMedicos_wrapper .dt-search {
        padding-bottom: 20px;
        width: 100%; 
        text-align: right; 
      }